* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Montserrat';
    src: url(design/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url(design/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

body {
    background: var(--Cream);
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: Montserrat;
}


main {
    /* border: 2px solid blue; */
    width: 600px;
    max-width: 80%;
    height: 400px;
    max-height: 90%;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    display: flex;
}


#img-for-mobile {
    display: none;
}

div.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

h1 {
    font-family: Fraunces;
}

span.product-name,
span.product-description,
span.price-before-discount {
    color: var(--Grey);
}


span.product-description {
    font-size: 16px;
}

div.price-container {
    display: flex;
    align-items: center;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 15px;
}

span.price-after-discount {
    font-family: Fraunces;
    font-weight: 700;
    color: var(--Green500);
    font-size: 32px;
}

span.price-before-discount {
    text-decoration: line-through;
}


#add-to-cart-btn {
    background: var(--Green500);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#add-to-cart-btn:active {
    background: var(--Green700);
}


@media(max-width: 750px) {
    main {
        height: 380px}
    span.product-name {
        font-size: 14px;
    }

    h1 {
        font-size: 32px;
    }

    #add-to-cart-btn {
        height: 35px;
    }

    span.price-after-discount {
        font-size: 30px;
    }

    span.price-before-discount {
        font-size: 14px
    }

    span.product-description {
        font-size: 14px;
    }
}

@media(max-width: 630px) {
    main {
        height: 350px
    }
    span.product-name {
        font-size: 12px;
    }

    h1 {
        font-size: 27px;
    }

    #add-to-cart-btn {
        height: 30px;
    }

    span.price-after-discount {
        font-size: 27px;
    }

    span.price-before-discount {
        font-size: 12px
    }

    span.product-description {
        font-size: 12px;
    }
}

@media(max-width: 590px) {
    main {
        flex-direction: column;
        width: 50%;
        height: 80%;
    }

    #img-for-desktop {
        display: none;
    }

    #img-for-mobile {
        display: block;
        height: 50%;
    }

    div.info-container {
        padding: 15px;
        height: 50%;
    }
    span.product-name {
        font-size: 10px;
    }

    h1 {
        font-size: 25px;
    }

    #add-to-cart-btn {
        height: 25px;
        font-size: 10px;
    }

    span.price-after-discount {
        font-size: 23px;
    }

    span.price-before-discount {
        font-size: 10px;
    }

    span.product-description {
        font-size: 10px;
    }
}

@media(max-width: 540px) {
    div.info-container {
        padding: 10px;
    }
    span.product-name {
        font-size: 8px;
    }

    h1 {
        font-size: 22px;
    }

    #add-to-cart-btn {
        height: 22px;
        font-size: 8px;
    }

    span.price-after-discount {
        font-size: 20px;
    }

    span.price-before-discount {
        font-size: 8px;
    }

    span.product-description {
        font-size: 8px;
    }
}