* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Montserrat';
    src: url(design/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Fraunces';
    src: url(design/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

h1 {
    font-family: Fraunces;
}


body {
    background: var(--Cream);
    height: 100vh;
    display: grid;
    place-items: center;
}



main {
    /* border: 2px solid blue; */
    width: 600px;
    max-width: 90%;
    height: 400px;
    max-height: 90%;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    display: flex;
}


#desktop-img {
    width: 50%;
    height: 100%;
}

div.info-container {
    /* border: 2px solid red; */
    /* height: 100%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

span.product-name, span.product-description, span.price-before-discount {
    color: var(--Grey);
}

span.product-name {
    /* sans-serif is a temporary value */
    font-family: sans-serif;
}

span.product-description {
    font-family: sans-serif;
}

span.price-after-discount {
    font-family: Fraunces;
    font-weight: 700;
    color: var(--Green500);
    font-size: 30px;
}

span.price-before-discount {
    text-decoration: line-through;
}

div.price-container {
    border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 25px;
}

#add-to-cart-btn {
    background: var(--Green500);
    border: none;
    border-radius: 12px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#add-to-cart-btn:active {
    background: var(--Green700);
}


@media(max-width: 500px) {
    body {
        /* background: red; */
    }
}